<div class="update-account-container">
    <div class="title">Changer informations du compte</div>
    <form name="form" (ngSubmit)="f.form.valid && onClickSend()" #f="ngForm" novalidate>
        <div class="zky-form">
            <alert></alert>
            <div class="zky-form-line">
                <div [ngClass]="{ 'has-error': f.submitted && !nom.valid }" class="form-group zky-form-field text nom long">
                    <div class="zky-form-field-name">
                        <span>Nom</span>
                    </div>
                    <div class="zky-form-field-input">
                        <input [(ngModel)]="account.nom" class='zky-field form-control' type='text' name='nom' #nom="ngModel" placeholder='Votre nom'/>
                    </div>
                </div>
            </div>
            <div class="zky-form-line">
                <div [ngClass]="{ 'has-error': f.submitted && !siret.valid }" class="form-group zky-form-field text siret long">
                    <div class="zky-form-field-name">
                        <span>Siret</span>
                    </div>
                    <div class="zky-form-field-input">
                        <input [(ngModel)]="account.siret" class='zky-field form-control' type='text' name='siret' #siret="ngModel" placeholder='Votre siret'/>
                    </div>
                </div>
            </div>
            <div class="zky-form-line">
                <div [ngClass]="{ 'has-error': f.submitted && !enseigne.valid }" class="form-group zky-form-field text enseigne long">
                    <div class="zky-form-field-name">
                        <span>Enseigne</span>
                    </div>
                    <div class="zky-form-field-input">
                        <input [(ngModel)]="account.enseigne" class='zky-field form-control' type='text' name='enseigne' #enseigne="ngModel" placeholder='Votre enseigne'/>
                    </div>
                </div>
            </div>
            <div class="zky-form-line">
                <div [ngClass]="{ 'has-error': f.submitted && !email.valid }" class="form-group zky-form-field text email long">
                    <div class="zky-form-field-name">
                        <span>Email</span>
                    </div>
                    <div class="zky-form-field-input">
                        <input [(ngModel)]="account.email" class='zky-field form-control' type='text' required name='email' #email="ngModel" placeholder='Votre email'/>
                        <div *ngIf="f.submitted && !email.valid" class="help-block">Votre email est obligatoire</div>
                    </div>
                </div>
            </div>
            <div class="zky-form-line">
                <div [ngClass]="{ 'has-error': f.submitted && !telephone1.valid }" class="form-group zky-form-field text telephone1 long">
                    <div class="zky-form-field-name">
                        <span>Téléphone</span>
                    </div>
                    <div class="zky-form-field-input">
                        <input [(ngModel)]="account.telephone1" class='zky-field form-control' type='text' name='telephone1' #telephone1="ngModel" placeholder='Votre numéro de téléphone'/>
                    </div>
                </div>
            </div>
            <div class="zky-form-line">
                <div [ngClass]="{ 'has-error': f.submitted && !telephone2.valid }" class="form-group zky-form-field text telephone2 long">
                    <div class="zky-form-field-name">
                        <span>Second téléphone</span>
                    </div>
                    <div class="zky-form-field-input">
                        <input [(ngModel)]="account.telephone2" class='zky-field form-control' type='text' name='telephone2' #telephone2="ngModel" placeholder='Votre second numéro de téléphone'/>
                    </div>
                </div>
            </div>
            <div class="zky-form-line">
                <div [ngClass]="{ 'has-error': f.submitted && !fax.valid }" class="form-group zky-form-field text fax long">
                    <div class="zky-form-field-name">
                        <span>Fax</span>
                    </div>
                    <div class="zky-form-field-input">
                        <input [(ngModel)]="account.fax" class='zky-field form-control' type='text' name='fax' #fax="ngModel" placeholder='Votre fax'/>
                    </div>
                </div>
            </div>

            <div class="zky-form-line">
                <div [ngClass]="{ 'has-error': f.submitted && !pays.valid }" class="form-group zky-form-field text pays long">
                    <div class="zky-form-field-name">
                        <span>Pays</span>
                    </div>
                    <div class="zky-form-field-input">
                        <input [(ngModel)]="account.pays" class='zky-field form-control' type='text' name='pays' #pays="ngModel" placeholder='Votre pays'/>
                    </div>
                </div>
            </div>
            <div class="zky-form-line">
                <div [ngClass]="{ 'has-error': f.submitted && !cp.valid }" class="form-group zky-form-field text cp long">
                    <div class="zky-form-field-name">
                        <span>Code postal</span>
                    </div>
                    <div class="zky-form-field-input">
                        <input [(ngModel)]="account.cp" class='zky-field form-control' type='text' name='cp' #cp="ngModel" placeholder='Votre code postal'/>
                    </div>
                </div>
            </div>
            <div class="zky-form-line">
                <div [ngClass]="{ 'has-error': f.submitted && !ville.valid }" class="form-group zky-form-field text ville long">
                    <div class="zky-form-field-name">
                        <span>Ville</span>
                    </div>
                    <div class="zky-form-field-input">
                        <input [(ngModel)]="account.ville" class='zky-field form-control' type='text' name='ville' #ville="ngModel" placeholder='Votre ville'/>
                    </div>
                </div>
            </div>
            <div class="zky-form-line">
                <div [ngClass]="{ 'has-error': f.submitted && !nomdelavoie.valid }" class="form-group zky-form-field text nomdelavoie long">
                    <div class="zky-form-field-name">
                        <span>Nom de voie</span>
                    </div>
                    <div class="zky-form-field-input">
                        <input [(ngModel)]="account.nomdelavoie" class='zky-field form-control' type='text' name='nomdelavoie' #nomdelavoie="ngModel" placeholder='Votre nom de voie'/>
                    </div>
                </div>
            </div>
            <div class="zky-form-line">
                <div [ngClass]="{ 'has-error': f.submitted && !numVoie.valid }" class="form-group zky-form-field text numVoie long">
                    <div class="zky-form-field-name">
                        <span>Numéro de voie</span>
                    </div>
                    <div class="zky-form-field-input">
                        <input [(ngModel)]="account.numVoie" class='zky-field form-control' type='text' name='numVoie' #numVoie="ngModel" placeholder='Votre numéro de voie'/>
                    </div>
                </div>
            </div>
            <div class="zky-form-line">
                <div [ngClass]="{ 'has-error': f.submitted && !complementAdresse.valid }" class="form-group zky-form-field text complementAdresse long">
                    <div class="zky-form-field-name">
                        <span>Complément d'adresse</span>
                    </div>
                    <div class="zky-form-field-input">
                        <input [(ngModel)]="account.complementAdresse" class='zky-field form-control' type='text' name='complementAdresse' #complementAdresse="ngModel" placeholder="Votre complément d'adresse"/>
                    </div>
                </div>
            </div>            
        </div>
        <div class="zky-form-buttons">
          <button class="connection-send-button zky-button__default">
            <span>Mettre à jour</span>
          </button>
        </div>
    </form>
</div>