<div class="admin-interface-container">
    <div class="blocks">
        <products-management></products-management>
        <clients-management></clients-management>
        <change-contact-infos></change-contact-infos>
        <carts-management></carts-management>
    </div>
</div>
