<div class="change-contact-infos-container">
    <div class="title">Changer les informations de contact</div>
    <form *ngIf="contactInfos" name="form" (ngSubmit)="f.form.valid && onClickSend()" #f="ngForm" novalidate>
        <div class="zky-form">
            <alert></alert>
            <div class="zky-form-line">
                <div [ngClass]="{ 'has-error': f.submitted && !tel.valid }" class="form-group zky-form-field text tel long">
                    <div class="zky-form-field-name">
                        <span>Téléphone</span>
                    </div>
                    <div class="zky-form-field-input">
                        <input [(ngModel)]="contactInfos.tel" class='zky-field form-control' type='text' name='tel' #tel="ngModel" required placeholder='Numéro de téléphone de contact ZKY'/>
                        <div *ngIf="f.submitted && !tel.valid" class="help-block">Le numéro de téléphone est obligatoire</div>
                    </div>
                </div>
            </div>
            <div class="zky-form-line">
                <div [ngClass]="{ 'has-error': f.submitted && !mail.valid }" class="form-group zky-form-field text mail long">
                    <div class="zky-form-field-name">
                        <span>E-mail</span>
                    </div>
                    <div class="zky-form-field-input">
                        <input [(ngModel)]="contactInfos.mail" class='zky-field form-control' type='text' name='mail' #mail="ngModel" required placeholder='E-mail de contact'/>
                        <div *ngIf="f.submitted && !mail.valid" class="help-block">L'e-mail est obligatoire</div>
                    </div>
                </div>
            </div>
            <div class="zky-form-line">
                <div [ngClass]="{ 'has-error': f.submitted && !address.valid }" class="form-group zky-form-field text address long">
                    <div class="zky-form-field-name">
                        <span>Adresse</span>
                    </div>
                    <div class="zky-form-field-input">
                        <input [(ngModel)]="contactInfos.address" class='zky-field form-control' type='text' name='address' #address="ngModel" required placeholder='Adresse de contact'/>
                        <div *ngIf="f.submitted && !address.valid" class="help-block">L'adresse téléphone est obligatoire</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="zky-form-buttons">
          <button class="connection-send-button zky-button__default">
            <span>Changer les informations</span>
        </button>
    </div>
</form>
</div>