<div class="change-password-container">
    <div class="title">Changer mon mot de passe</div>
    <form name="form" (ngSubmit)="f.form.valid && onClickSend()" #f="ngForm" novalidate>
        <div class="zky-form">
            <alert></alert>
            <div class="zky-form-line">
                <div [ngClass]="{ 'has-error': f.submitted && !oldPassword.valid }" class="form-group zky-form-field text oldPassword long">
                    <div class="zky-form-field-name">
                        <span>Ancien mot de passe</span>
                    </div>
                    <div class="zky-form-field-input">
                        <input [(ngModel)]="changePasswordInfos.oldPassword" class='zky-field form-control' type='password' name='oldPassword' #oldPassword="ngModel" required placeholder='Votre ancien mot de passe'/>
                        <div *ngIf="f.submitted && !oldPassword.valid" class="help-block">Votre ancien mot de passe est obligatoire</div>
                    </div>
                </div>
            </div>
            <div class="zky-form-line">
                <div [ngClass]="{ 'has-error': f.submitted && !newPassword.valid }" class="form-group zky-form-field text email long">
                    <div class="zky-form-field-name">
                        <span>Nouveau mot de passe</span>
                    </div>
                    <div class="zky-form-field-input">
                        <input [(ngModel)]="changePasswordInfos.newPassword" class='zky-field form-control' type='password' name='newPassword' #newPassword="ngModel" required placeholder='Votre mot de passe'/>
                        <div *ngIf="f.submitted && !newPassword.valid" class="help-block">Votre nouveau mot de passe est obligatoire</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="zky-form-buttons">
          <button class="connection-send-button zky-button__default">
            <span>Changer mot de passe</span>
          </button>
        </div>
    </form>
</div>