@import "./../../common-variables.scss";

.change-password-container {
    vertical-align: top;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: calc( 100% - 40px);
    max-width: 600px;
    padding: 20px 20px 40px 20px;
    
    background-color: white;
		
		.title{
        font-size: x-large;
        color: #8B0000;
        padding-bottom: 10px;
    }
    
		.zky-form{
			width: 320px;
    	margin-bottom: 50px;
		}
}