<div class="carts-management-container">
  <div class="title">Voir la liste des commandes</div>
  <select class="cart-select-status zky-field zky-field__select" (change)="onStatusSelectChange($event)">
     <option [selected]="currentStatus=='PENDING'" value="PENDING">
        Commande en attente
    </option>
    <option [selected]="currentStatus=='VALIDATED'" value="VALIDATED">
        Commandes terminées
    </option>
</select>
<div>
  <table class="cart-table">
    <tr class="cart-table-header">
      <td>Numéro de commande</td>
      <td>Nom du client</td> 
      <td>Date d'envoi</td>
      <td>Prix total</td>
  </tr>
  <tr *ngFor="let cart of carts; let i = index" (click)="onClickPreview( cart.cart.id )" [ngClass]="{'pair': i%2==0}">
      <td>{{cart.cart.id}}</td>
      <td>{{cart.accountPublic.nom}}</td> 
      <td>{{cart.cart.validationDate}}</td>
      <td>{{numberTo2Decimals( cart.getTotalPrice())}} €</td>
  </tr>
</table>
</div>
</div>
