<div class="forgotten-password-container">
    <div class="zky-form-title">Mot de passe oublié</div>
    <form name="form" (ngSubmit)="f.form.valid && forgottenPasswordSend()" #f="ngForm" novalidate>
        <div class="zky-form">
            <alert></alert>
            <div class="zky-form-line">
                <div [ngClass]="{ 'has-error': f.submitted && !emailElem.valid }" class="form-group zky-form-field text email long">
                    <div class="zky-form-field-name">
                        <span>Email</span>
                    </div>
                    <div class="zky-form-field-input">
                        <input [(ngModel)]="email" class='zky-field form-control' type='text' name='email' #emailElem="ngModel" required placeholder='Email du compte perdu'/>
                        <div *ngIf="f.submitted && !emailElem.valid" class="help-block">L'email est obligatoire</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="zky-form-buttons">
          <button class="connection-send-button zky-button__default">
            <span>Envoyer</span>
          </button>
        </div>
    </form>
</div>
