@import "../common-variables.scss";

.contact-container {
    min-height: calc(1000px - 130px);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    .contact-block {
        background-color: #fff;
        padding: 10px;
        box-shadow: 0px 8px 33px 5px rgba(0, 0, 0, 0.1);
        display: inline-block;
        vertical-align: middle;
        width: 95%;
        max-width: 500px; 

        .title {
            border-bottom: 2px solid black;
            padding: 5px 0 0 5px;
            font-size: 25px;
            @include fontBold();

            h2{
                margin: 15px 0;
            }
        }

        .contact-intro{
            @include fontRegular();
            font-size: 18px;
            margin-bottom: 35px;
        }
        .contact-info{
            padding:30px;
        }

        ul{
            text-align: left;
            li{
                margin: 20px 0;
                @include fontRegular();
                font-size: 18px;

                i{
                    padding-right: 20px;
                }
            }
        }
    }
}
