<div class="contact-container">
    <div class="vertical_align"></div>
    <div class="contact-block">
        <div class="title">
          <h2>ZKY - Contact informations</h2>
        </div>
        <div class="contact-info">
          <p class="contact-intro">Pour toute demande d'information ou pour la creation d'un compte client veuillez nous contacter en utilisant l'un des moyens ci-dessous.</p>
          <ul class="details" *ngIf="contactInfos">
            <li>
              <p><i class="fa fa-phone" aria-hidden="true"></i>{{contactInfos.tel}}</p>
            </li>
            <li>
              <p><i class="fa fa-envelope-open" aria-hidden="true"></i>{{contactInfos.mail}}</p>
            </li>
            <li>
              <p><i class="fa fa-map" aria-hidden="true"></i>{{contactInfos.address}}</p>
            </li>
          </ul>
        </div>
    </div>
</div>



