.clients-management-container {
    vertical-align: top;
    display: inline-block;
    width: calc( 100% - 40px);
    max-width: 400px;
    padding: 20px 20px 40px 20px;
    margin: 10px;
    background-color: white;

    .title{
        font-size: x-large;
        color: #8B0000;
        padding-bottom: 10px;
    }

    .clients-management-fileInput{
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 20px;
    }
}
