<div>
	<i *ngIf="this.authenticationService.isLogged()" (click)="toggleCartMenu()" class="wish-list-menu fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
	<div [@slideInOut]="menuState" class="cart-container">
		<div class="cart-header">
			<div class="vertical_align"></div>
			<div (click)="toggleCartMenu()" class="cart-header-close">
				<span>Fermer</span>
			</div>
		</div>
		<div class="cart-header2">
			<div class="vertical_align"></div>
			<div *ngIf="cart" class="cart-totalPrice">
				<div class="cart-totalPrice-title">
					<span>TOTAL</span>
				</div>
				<div class="cart-totalPrice-content">
					<span class="cart-totalPrice-content-currency">EUR</span>
					<span class="cart-totalPrice-content-total">{{numberTo2Decimals( cart.getTotalPrice() )}}</span>
				</div>
			</div>
			<div class="cart-action">
				<div class="vertical_align"></div>
				<div class="cart-checkout-button zky-button__default zky-button__style-tiny" (click)="checkout()">
					<div class="vertical_align"></div>
	        <span>Envoyer</span>
	      </div>
			</div>
		</div>
		<div class="cart-cartLines" *ngIf="cart">
			<div class="cart-cartLine" *ngFor="let cartLine of cart.cartLinePublics">
				<div class="vertical_align"></div>
				<div class="cart-cartLine-left">
						<div class="cart-cartLine-image" [ngStyle]="{'background-image': 'url(' + cartLine.productPublics.img + ')'}"></div>
				</div>
				<div class="cart-cartLine-right">
					<div class="cart-cartLine-header">
						<div class="cart-cartLine-name">
							<span>{{cartLine.productPublics.intitule1}}</span>
						</div>
						<div class="cart-cartLine-infos" >
							<div class="cart-cartLine-unitPrice">
								<span>{{numberTo2Decimals(cartLine.productPublics.prixdevente)}} €</span>
							</div>
							<div class="cart-cartLine-view-product">
								<span (click)="onClickCartLine( cartLine.productPublics.id )" [routerLink]="['product']">Voir le produit</span>
							</div>
						</div>
					</div>

					<div class="cart-cartLine-attributes">
							<div class="vertical_align"></div>
							<div class="zky-field__quantity-wrapper">
				        <div class="zky-field__quantity-less" (click)="quantityDecrementAndSend( cartLine )">
				          <svg fill="#8c8c8c" version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 30 30" enable-background="new 0 0 30 30" xml:space="preserve">
				            <path d="M20.5,15.5h-11C9.2,15.5,9,15.3,9,15s0.2-0.5,0.5-0.5h11c0.3,0,0.5,0.2,0.5,0.5S20.8,15.5,20.5,15.5z"></path>
				          </svg>
				        </div>
				        <input type="number" class="zky-field__quantity" value="{{cartLine.quantity}}">
				        <div class="zky-field__quantity-more" (click)="quantityIncrementAndSend( cartLine )">
				          <svg fill="#8c8c8c" version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 30 30" enable-background="new 0 0 30 30" xml:space="preserve">
				            <path d="M20.5,14.5h-5v-5C15.5,9.2,15.3,9,15,9s-0.5,0.2-0.5,0.5v5h-5C9.2,14.5,9,14.7,9,15s0.2,0.5,0.5,0.5h5v5
				            c0,0.3,0.2,0.5,0.5,0.5s0.5-0.2,0.5-0.5v-5h5c0.3,0,0.5-0.2,0.5-0.5S20.8,14.5,20.5,14.5z"></path>
				          </svg>
				        </div>
				      </div>
							<!-- ButtonDelete -->
					</div>
				</div>
				<div class="cart-cartLine-price">
					<div class="vertical_align"></div>
					<div class="cart-cartLine-totalPriceLine"><span>{{numberTo2Decimals( cartLine.getTotalPrice() )}} €</span></div>
				</div>
			</div>
		</div>
	</div>
</div>
