@import "../common-variables.scss";

.cart-container {
  background: #fff;
  color: #000;
  position: fixed;
  left: auto;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 520px;
  z-index: 100;
  box-shadow: -20px 0 35px 0 rgba(0, 0, 0, .1);
}

.cart-header{
	height: calc(40px + 20px);
	text-align: right;
	border-bottom: 1px solid #8c8c8c;

	.cart-header-close{
		color: $clientColor1;
		display:inline-block;
		padding-right:10px;
		font-size: 13px;
		@include fontRegular();
	}
}

.cart-header2{
	height:60px;
	border-bottom: 1px solid $colorSeparator;
	font-size: 0;
}
.cart-cartLines{
	overflow-y: auto;
	height:calc( 100% - 60px - 40px - 20px )
}

.cart-totalPrice{
		width: 150px;
		display: inline-block;
		vertical-align: middle;
		padding-left: 20px;
		vertical-align: middle;

	.cart-totalPrice-title span{
		@include fontBlack();
		font-size:10px;
		color:$colorAttributeText;
	}

	.cart-totalPrice-content-currency{
		@include fontRegular();
		font-size:13px;
		color:$colorLightText;
		padding-right: 8px;
	}

	.cart-totalPrice-content-total{
		@include fontBold();
		font-size:16px;
		color:$colorAttributeText;
	}
}

.cart-action{
	display: inline-block;
	text-align: right;
	width: calc(100% - 170px);

	.cart-checkout-button{
		margin-right:20px;
	}
}

.wish-list-menu {
  right: 10px;
  top: 13px;
  position: absolute;
  color:indianred;

  &:hover{
		color: darkred;
  }
}

.cart-cartLine{
	height: 150px;
  padding-left: 20px;
  border-bottom: 1px solid #cecece;
  user-select:none;
}

.cart-cartLine-left {
		vertical-align: middle;
    display: inline-block;
    padding-right: 30px;
}

.cart-cartLine-bloc-price {
	position: absolute;
	right: 20px;
	height: 100%;
}

.cart-cartLine-image {
	width: 70px;
	height: 70px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.cart-cartLine-right {
		vertical-align: middle;
    display: inline-block;
}

.cart-cartLine-name {
	margin-bottom: 10px;
	max-width: 200px;

	span {
		@include fontMedium();
		color: $colorAttributeText;
		font-size: 16px;
	}
}

.cart-cartLine-infos {
	display: inline-block;
	margin-bottom: 20px;
}

.cart-cartLine-unitPrice{
	display: inline-block;
	margin-right: 15px;

	span {
		font-size: 12px;
		color: $colorLightText;
		@include fontRegular();
	}
}

.cart-cartLine-view-product {
	display: inline-block;
	cursor: pointer;

	span {
		font-size: 11px;
		color: $colorLinkText;
		text-decoration: underline;
		@include fontRegular();
	}
}

.cart-cartLine-price{
  right: 10px;
  display: inline-block;
  vertical-align: middle;
  float: right;
  height: 100%;
}

.cart-cartLine-totalPriceLine{
	vertical-align: middle;
	display: inline-block;
	margin-right: 15px;
}
.cart-cartLine-totalPriceLine span{
	font-size: 13px;
	color: $colorAttributeText;
	@include fontBold();
	margin-right: 10px;
}

.cart-cartLine-attribute{
	display: inline-block;

	span {
		font-size: 12px;
		color: $colorInputText;
		padding-left: 5px;
	}
}

.zky-field__quantity-wrapper{
	display:inline-block;
	vertical-align: middle;
}

.zky-field__quantity-delete{
	vertical-align: middle;
	margin-left: 10px;
}
