<div class="main-container">
    <cart></cart>
    <div class="menu-container">
        <nav class="navMenu-top">
            <a
            [routerLink]="['home']"
            routerLinkActive="router-link-active">
                <i class="fa fa-home fa-2x" aria-hidden="true"></i>
                <span>Accueil</span>
            </a>
            <span class="menu-separator" >|</span>
            <a
            [routerLink]="['catalogue']"
            routerLinkActive="router-link-active">
                <i class="fa fa-book fa-2x" aria-hidden="true"></i>
                <span>Catalogue</span>
            </a>
            <span class="menu-separator" *ngIf="this.authenticationService.isLogged()">|</span>
            <a
            [routerLink]="['my-account']" *ngIf="this.authenticationService.isLogged()"
            routerLinkActive="router-link-active">
                <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                <span>Mon compte</span>
            </a>
            <span class="menu-separator" >|</span>
            <a
            [routerLink]="['contact']"
            routerLinkActive="router-link-active">
                <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
                <span>Nous contacter</span>
            </a>
            <a class="pullRight login" *ngIf="this.authenticationService.isNotLogged()"
            [routerLink]="['connection']"
            routerLinkActive="router-link-active">
                <i class="fa fa-sign-in fa-2x" aria-hidden="true"></i>
                <span>Connexion</span>
            </a>
            <a class="pullRight logout" *ngIf="this.authenticationService.isLogged()"
            (click)="this.authenticationService.logout()"
            routerLinkActive="router-link-active">
                <i class="fa fa-sign-out fa-2x" aria-hidden="true"></i>
                <span>Deconnexion</span>
            </a>
            <span class="menu-separator" *ngIf="this.authenticationService.isAdmin()">|</span>
            <a *ngIf="this.authenticationService.isAdmin()"
            [routerLink]="['admin-interface']"
            routerLinkActive="router-link-active">
                <i class="fa fa-cog fa-2x" aria-hidden="true"></i>
                <span>Administration</span>
            </a>
        </nav>
        <i (click)="toggleNavMenu()" id="toggleNavMenu" class="fa fa-bars fa-2x" aria-hidden="true"></i>
        <nav class="navMenu-burger" [@slideInOut]="menuState">
            <div class="nav-header">
                <div class="vertical_align"></div>
                <div (click)="toggleNavMenu()" class="nav-header-close">
                    <span>Fermer</span>
                </div>
            </div>
            <a
            [routerLink]="['home']"
            routerLinkActive="router-link-active">
                <i class="fa fa-home fa-2x" aria-hidden="true"></i>
                <span>Accueil</span>
            </a>
            <a
            [routerLink]="['catalogue']"
            routerLinkActive="router-link-active">
                <i class="fa fa-book fa-2x" aria-hidden="true"></i>
                <span>Catalogue</span>
            </a>
            <a
            [routerLink]="['my-account']"
            routerLinkActive="router-link-active">
                <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                <span>Mon compte</span>
            </a>
            <a
            [routerLink]="['contact']"
            routerLinkActive="router-link-active">
                <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
                <span>Nous contacter</span>
            </a>
            <a
            [routerLink]="['connection']" *ngIf="this.authenticationService.isNotLogged()"
            routerLinkActive="router-link-active">
                <i class="fa fa-sign-in fa-2x" aria-hidden="true"></i>
                <span>Connexion</span>
            </a>
            <a
            (click)="this.authenticationService.logout()" *ngIf="this.authenticationService.isLogged()"
            routerLinkActive="router-link-active">
                <i class="fa fa-sign-in fa-2x" aria-hidden="true"></i>
                <span>Deconnexion</span>
            </a>
            <a *ngIf="this.authenticationService.isAdmin()"
            [routerLink]="['admin-interface']"
            routerLinkActive="router-link-active">
                <i class="fa fa-cog fa-2x" aria-hidden="true"></i>
                <span>Administration</span>
            </a>
            
        </nav>
    </div>
    <main>
        <router-outlet></router-outlet>
    </main>
</div>

<app-footer></app-footer>
<toast></toast>
