@import "common-styles.scss";
@import "common-variables.scss";

$menuShowTextLimit : 1200px;
$menuShowIconsLimit : 700px;

:host{
    height:100%;
}

.main-container {
    background-color: #F5F5F5;
    min-height: calc( 100% - 40px );
    padding-bottom: 30px;

    main{
        max-width: $widthMain;
        margin:auto;
    }
    
    .menu-container {
        width: calc(100% - 20px);
        height: 40px;
        padding: 10px;
        font-size: larger;
        color: indianred;
        border-bottom: 1px solid #8c8c8c;
        
        .pullRight{
            float:right;
        }

        .logout{
                margin-right: 30px;
            }

        a {
            text-decoration: none;
            color: indianred;
            padding: 0 15px;
        }

        i {
            padding-right: 10px;
        }

        a:hover,
        .router-link-active {
            color: darkred;
        }

        #toggleNavMenu,
        nav.navMenu-burger{
            display:none
        }
    }

    
}



@media screen and (max-width: $menuShowTextLimit) {
    .main-container .menu-container a span{
        display: none;
    }
    .main-container .menu-container .menu-separator{
        display: none;
    }

    @media screen and (max-width: $menuShowIconsLimit) {
        .main-container{

            .menu-container{

                #toggleNavMenu,
                nav.navMenu-burger{
                    display:block;
                }
                
                nav.navMenu-top{
                    display:none
                }    
                nav.navMenu-burger{
                    background: #fff;
                    color: #000;
                    position: fixed;
                    left: 0;
                    top: 0;
                    right: auto;
                    bottom: 0;
                    width: 100%;
                    max-width: 300px;
                    z-index: 100;
                }

                .nav-header{
                    height: calc(40px + 20px);
                    text-align: right;
                    border-bottom: 1px solid #8c8c8c;

                    .nav-header-close{
                        color: $clientColor1;
                        display:inline-block;
                        padding-right:10px;
                        font-size: 13px;
                        @include fontRegular();
                    }
                }

                a{
                    display: block;
                    padding: 15px;
                    span{
                        display: inline-block;
                    }
                }
            }
            
        }
    }
}