@import "./common-variables.scss";

.help-block{
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
    font-size: 12px;
    @include fontRegular();
}
.has-error .help-block{
    color: #a94442;
}

.zky-form-title{
    font-size: 24px;
    padding-top: 20px;

    max-width: 640px;
    margin:auto;
    @include fontMedium();
}

.zky-form {
    display:block;
    max-width: 640px;
    @media screen and (max-width: 640px) {
      max-width: 100%;
    }
    
    margin:auto;
    margin-bottom: 100px;
}

.zky-form-line {
    display:block;
}

.zky-form-field{
    display:inline-block;
    width: calc(50% - 20px);
    margin-top: 30px;
    vertical-align: top;
    margin-bottom: 20px;

    &.second{
        margin-left: 40px;
    }
}

.zky-form-field-name {
    display:inline-block;
    font-size: 10px;
    @include fontBlack();
    text-transform: uppercase;
}

.zky-form-field-input input{
    width: calc(100% - 42px);
    height: 48px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #8c8c8c;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #8c8c8c;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #8c8c8c;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #8c8c8c;
}

.zky-form-field.long{
    width:100%;
}

.zky-form-buttons{
    text-align: center;
}


@media screen and (max-width: $responsiveBreakTablet) {
    .zky-form-field{
        width:100%;

        &.second{
            margin-left: 0px;
        }
    }
}

.zky-form-links{
    height: 20px;
    a{
        font-size: 12px;
        @include fontMedium();

        &:hover{
          text-decoration: underline;
          color:$clientColor1;
        }

        &.left{
          float:left;
        }

        &.right{
          float:right;
        }
    }

}

.zky-field {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid;
  border-color: $colorButtonBorder;
  color: $colorLightText;
  font-family: inherit;
  font-size: 14px;
  line-height: 14px;
  height: 50px;
  padding: 0 20px;
  width: calc(100% - 40px);
  @include fontRegular();
  margin-top: 10px;

  outline: none;

  &:focus,
  &:hover {
    border-color: $clientColor1;
  }
  &:focus {
    color: #000000;
  }

  &.error{
    border-color: red;
  }

}

select.zky-field.zky-field__select {
  -webkit-appearance: none;
  -moz-appearance: none;

  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  background-repeat: no-repeat;
  background-position: right;
  background-size: 30px;
  background-image: url('assets/img/select-arrow.svg');
  

  padding-right: 25px;
  padding-left: 15px;

  width: 260px;

  &::-ms-expand {
    display: none;
  }
}