//variables
$clientColor1 : #8b0000;
$clientColor1hover : #D73346;
$clientColor2 : $clientColor1;

$colorButton : #f5f5f5;
$colorButtonBorder : #cecece;
$colorButtonIcon : #8c8c8c;
$colorSeparator : #cecece;
$colorBackgroundAssociatedProducts : #f5f5f5;

$colorLightText : #8c8c8c;
$colorStrongText : #292929;

$colorInputText : $colorLightText;
$colorAttributeText : $colorStrongText;
$colorInputBorderHover : $colorStrongText;
$colorBreadcrumbName  : $colorStrongText;
$colorLinkText : #8b0000;

$colorButtonBackground: $clientColor1;
$colorButtonBackgroundHover: $clientColor1hover;
$colorButtonBackground2: $clientColor2;
$imageSelectedBorderColor: $clientColor2;

$fontFamilyText : Roboto ,"Sans serif";

$widthMain : 1400px;

$responsiveBreakTablet : 850px;
$responsiveBreakSmartphone : 600px;

/* Mixins */

@mixin font($weight) {
	font-family: $fontFamilyText;
	font-weight: $weight;
}

@mixin fontThin() {
	@include font(100);
}

@mixin fontLight() {
	@include font(200);
}

@mixin fontRegular() {
	@include font(400);
}

@mixin fontMedium() {
	@include font(500);
}

@mixin fontBold() {
	@include font(700);
}

@mixin fontBlack() {
	@include font(900);
}