@import "./common-variables.scss";
.zky-field__quantity-less,
.zky-field__quantity-more,
.zky-field__quantity-delete,
.zky-field__quantity {
  box-sizing: border-box;
}

.zky-field__quantity-wrapper {
  font-size: 0;
}
input[type=number].zky-field__quantity {
  background-color: #ffffff;
}
input[type=number].zky-field__quantity::-webkit-outer-spin-button,
input[type=number].zky-field__quantity::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
}
.zky-field__quantity {
  -moz-appearance: textfield;
  background-color: #f5f5f5;
  height: 32px;
  border-width: 1px;
  border-style: solid;
  border-color: #ececec;
  width: auto;
  width: 44px;
  font-size: 14px;
  vertical-align: top;
  text-align: center;

  &:hover,  &:focus {
    border-color: $colorButtonBorder;
  }
  &:hover {
    background-color: #e4e4e4;
  }
  &:focus {
    color: $clientColor1;
  }

}
.zky-field__quantity-less, .zky-field__quantity-more {
  vertical-align: top;
  background-color: #f5f5f5;
  border-width: 1px;
  border-style: solid;
  border-color: $colorButtonBorder;
  display: inline-block;
  width: 33px;
  height: 32px;
  cursor: pointer;

  &:hover {
    background-color: #e4e4e4;
  }

}
.zky-field__quantity-less {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: none;
}
.zky-field__quantity-more {
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.zky-field__quantity-delete {
  background-color: #f5f5f5;
  border-radius: 5px;
  border-color: $colorButtonBorder;
  border-width: 1px;
  border-style: solid;
  display: inline-block;
  width: 32px;
  height: 32px;
  cursor: pointer;

  &:hover {
    background-color: #e4e4e4;
  }

}