@import "./common-variables.scss";

.zky-button__default {
  background-color: $clientColor1;
  border-radius: 4px;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  height: 50px;
  opacity: 1;
  padding: 0;
  position: relative;
  text-align: center;
  width: 250px;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  -webkit-transition: background-color 0.2s, color 0.2s, opacity 0.2s;
  transition: background-color 0.2s, color 0.2s, opacity 0.2s;

  &:hover {
    opacity: 0.7;
  }
  
  &.alternative{
    background-color: $clientColor1hover;
  }

  &.zky-button__style-ghost {
    background-color: transparent;
    border: 1px solid $clientColor1;

    span{
      color: $clientColor1;
    }

    &:hover {
      opacity: 1;

      background-color: $clientColor1;

      span{
        color: #fff;
      }
    }
  }

  &.zky-button__style-tiny {
    height: 34px;
    min-width: 45px;
    width:95px;
  }

  &.zky-button__style-mini {
    height: 25px;
    width: 29px;
  }

  span{
    @include fontRegular();
    font-size: 13px;
    color: #fff;
    line-height: 12px;
    vertical-align: middle;
  }
}
