.connection-container {
    min-height: calc(1000px - 130px);
    padding: 15px;
    font-size: 0;
}

.zky-form-title {
    text-align: center;
}
.zky-form {
    width: 320px;
    margin-bottom: 50px;
}

.zky-form-field{
    text-align: left;
}