<div class="connection-container">
    <div class="zky-form-title">Connexion</div>
    <form name="form" (ngSubmit)="f.form.valid && connectionSend()" #f="ngForm" novalidate>
        <div class="zky-form">
            <alert></alert>
            <div class="zky-form-line">
                <div [ngClass]="{ 'has-error': f.submitted && !login.valid }" class="form-group zky-form-field text email long">
                    <div class="zky-form-field-name">
                        <span>Nom d'utilisateur</span>
                    </div>
                    <div class="zky-form-field-input">
                        <input [(ngModel)]="connectionInfos.login" class='zky-field form-control' type='text' name='login' #login="ngModel" required placeholder='Votre identifiant'/>
                        <div *ngIf="f.submitted && !login.valid" class="help-block">L'identifiant est obligatoire</div>
                    </div>
                </div>
            </div>
            <div class="zky-form-line">
                <div [ngClass]="{ 'has-error': f.submitted && !password.valid }" class="form-group zky-form-field text email long">
                    <div class="zky-form-field-name">
                        <span>Mot de passe</span>
                    </div>
                    <div class="zky-form-field-input">
                        <input [(ngModel)]="connectionInfos.password" class='zky-field form-control' type='password' name='password' #password="ngModel" required placeholder='Votre mot de passe'/>
                        <div *ngIf="f.submitted && !password.valid" class="help-block">Le mot de passe est obligatoire</div>
                    </div>
                </div>
            </div>
            <div class="zky-form-links">
                <a [routerLink]="['/contact']" class="left">Nouveau client ?</a>
                <a [routerLink]="['/forgotten-password']" class="right">Mot de passe oublié ?</a>
            </div>
        </div>
        <div class="zky-form-buttons">
          <button class="connection-send-button zky-button__default">
            <span>Connexion</span>
          </button>
        </div>
    </form>
</div>
