@import "./../../common-variables.scss";

.my-carts-container {
    vertical-align: top;
    width: calc( 100% - 40px);
    max-width: 600px;
    padding: 20px 20px 40px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;

    .title{
        font-size: x-large;
        color: #8B0000;
        padding-bottom: 10px;
    }

    .cart-table{
        margin-top: 20px;
        width:100%;
        border: 1px solid $colorButtonBorder;

        @media screen and (max-width: 600px) {
            font-size: 10px;
        }
    }

    .cart-table td{
        border: 1px solid $colorButtonBorder;
        padding: 5px;
    }
    
    .cart-table-header{
        td{
            border: 1px solid $colorButtonBorder;
            color:$colorStrongText;
        }
    }

    tr:not(.cart-table-header){
        -webkit-transition: background-color 0.2s, color 0.2s;
        transition: background-color 0.2s, color 0.2s;
        cursor: pointer;
        
        &.pair{
            background-color: #FEF;
        }

        &:hover{
            background-color: lightcoral;
            td{
                color: $colorStrongText
            }
        }

        td{
            color:$colorLightText;
        }
    }
}
