<div class="my-carts-container">
  <div class="title">Ma liste des commandes</div>
	<div>
		<table class="cart-table">
		  <tr class="cart-table-header">
		    <td>Numéro de commande</td>
		    <td>Nom du client</td> 
		    <td>Date d'envoi</td>
		    <td>Prix total</td>
		    <td>Status</td>
		  </tr>
		  <tr *ngFor="let cart of carts; let i = index" (click)="onClickPreview( cart.cart.id )" [ngClass]="{'pair': i%2==0}">
		    <td>{{cart.cart.id}}</td>
		    <td>{{cart.accountPublic.nom}}</td> 
		    <td>{{cart.cart.validationDate}}</td>
		    <td>{{numberTo2Decimals( cart.getTotalPrice())}} €</td>
		    <td>{{cart.cart.status === "PENDING"?"En attente":"Terminée"}}</td>
		  </tr>
		</table>
	</div>
</div>
