<div class="catalogue-container">
	<div class="zky-form-title catalogue-filters-title">Filtres et Recherche</div>
	<div class="catalogue-families-container">
		<div class="catalogue-families">
			<select class="catalogue-select-family zky-field zky-field__select" (change)="onFamilySelectChange($event)">
				<option [selected]="currentFamily==null" value="all">
			  	Toutes les catégories
			  </option>
			  <option [selected]="currentFamily==family" *ngFor="let family of families" [value]="family.family.family">
			  	{{family.family.name}}
			  </option>
			</select>
		</div>
		<div class="catalogue-subfamilies">
			<select class="catalogue-select-subfamily zky-field zky-field__select" (change)="onSubfamilySelectChange($event)">
				<option [selected]="currentSubfamily==null" value="all">
			  	Toutes les sous-catégories
			  </option>
			  <option [selected]="currentSubfamily==subfamily" *ngFor="let subfamily of currentFamily?currentFamily.subfamilyPublics:[]" [value]="subfamily.subfamily.subfamily">
			  	{{subfamily.subfamily.name}}
			  </option>
			</select>
		</div>
	</div>
	<div class="catalogue-searchBox">
		<input #searchBox class="zky-field" id="search-box" (keyup)="onSearchTermsChange(searchBox.value)" placeholder="Rechercher un nom ou une référence" [value]="currentSearchTerms"/>
	</div>
	<div class="zky-form-title catalogue-grid-title">Produits</div>
	<products-grid [products]="products | async"></products-grid>
	<pagination [currentPage]="currentPage" [pageCount]="pageCount" [maxPagesShown]="maxPagesShown" (onPageChange)="onPageChange($event[0])"></pagination>
</div>