.catalogue-container{
	padding:30px 25px 0px 25px;
	min-height: calc(100vh - 15vh);
	max-width:1300px;
	margin: auto;
	
	.zky-form-title{
		text-align: center;
		margin-bottom: 15px;
	}
	.catalogue-families-container{
		text-align: center;

		div{
			display: inline-block;
		}

		.catalogue-subfamilies{
			margin-left: 30px;
		}
	}

	.catalogue-searchBox{
		width:300px;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 50px;
	}
}

@media screen and (max-width: 600px) {
	.catalogue-container{
		.catalogue-families-container{
			div{
				display: block;
			}
			.catalogue-subfamilies{
				margin-left: 0;
			}
		}
	}
}