@import "../common-variables.scss";

.pagination{
	font-size: 0;
	text-align: center;

	.pagination-button{
	  margin: 5px;

	  &.hidden{
	  	opacity: 0;
	  	pointer-events:none;
	  	cursor: default;
	  }
	}
}