<div class="pagination">
	<div [ngClass]="{'hidden': isFirstPageVisible()}" class="pagination-button zky-button__default zky-button__style-mini alternative" (click)="onPageButtonClick(1)">
		<div class="vertical_align"></div>
		<span><<</span>
	</div>
	<div [ngClass]="{'hidden': isCurrentPageTheFirst()}" class="pagination-button zky-button__default zky-button__style-mini alternative" (click)="onPageButtonClick(currentPage - 1)">
		<div class="vertical_align"></div>
		<span><</span>
	</div>
	<div class="pagination-button zky-button__default zky-button__style-mini" [ngClass]="{'zky-button__style-ghost': paginationPage !== currentPage}" *ngFor="let paginationPage of this.getPages()" (click)="onPageButtonClick(paginationPage)">
		<div class="vertical_align"></div>
		<span>{{paginationPage}}</span>
	</div>
	<div [ngClass]="{'hidden': isCurrentPageTheLast()}" class="pagination-button zky-button__default zky-button__style-mini alternative" (click)="onPageButtonClick(currentPage + 1)">
		<div class="vertical_align"></div>
		<span>></span>
	</div>
	<div [ngClass]="{'hidden': isLastPageVisible()}" class="pagination-button zky-button__default zky-button__style-mini alternative" (click)="onPageButtonClick(pageCount)">
		<div class="vertical_align"></div>
		<span>>></span>
	</div>
</div>