@import "../common-variables.scss";

.toast{
	position: fixed;
	left:15px;

	width: 250px;
	height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;

  opacity:1;
  bottom:15px;

  -webkit-transition: bottom 0.4s, opacity 0.4s;
  transition: bottom 0.4s, opacity 0.4s;

  border-radius: 10px;

	.toast-text{
		@include fontMedium();
		font-size: 16px;
		padding: 10px;
		text-align: center;
	}
	
	&.info{
		background-color: lightblue;
  	border: 1px solid darkblue;
	}

	&.success{
		background-color: lightgreen;
  	border: 1px solid darkgreen;
	}

	&.error{
		background-color: lightcoral;
  	border: 1px solid coral;
	}

	&.hide{
		opacity:0;
		bottom:-70px;
	}
}