<div>
  <div *ngIf="product" class="product">
    <div class="product-breadcrumb">
      <span [routerLink]="['/catalogue', {params: getFamilyQueryParameter(product.fam) }]" class='product-breadcrumb-parent'>{{ product.fam.name }}</span>
      <span class='product-breadcrumb-arrow' style='background-image:url("../../assets/img/breadcrumb-arrow.png")'></span>
      <span [routerLink]="['/catalogue', {params: getSubfamilyQueryParameter(product.fam, product.sfam) }]" class='product-breadcrumb-current'>{{ product.sfam.name }}</span>
    </div>
    <div class="product-style">
      <div class="product-left-style">
        <div class="product-left">
          <div class="product-image-style">
            <div class="product-image" [ngStyle]="{'background-image': 'url(' + product.img + ')'}">
            </div>
          </div>
        </div>
      </div>
      <div class="product-right-style">
        <div class="product-right">
          <div class="product-header">
            <div class="product-name">
              <span>{{ product.intitule1 }}</span>
            </div>
            <div class="product-reference" >
              <span>réf : {{product.codearticle}}</span>
            </div>
          </div>
          <div class="product-content">
            <span class="product-quantityTitle">Quantité : </span>
            <div class="zky-field__quantity-wrapper">
              <div class="zky-field__quantity-less" (click)="quantityDecrement()">
                <svg fill="#8c8c8c" version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 30 30" enable-background="new 0 0 30 30" xml:space="preserve">
                  <path d="M20.5,15.5h-11C9.2,15.5,9,15.3,9,15s0.2-0.5,0.5-0.5h11c0.3,0,0.5,0.2,0.5,0.5S20.8,15.5,20.5,15.5z"></path>
                </svg>
              </div>
              <input type="number" [(ngModel)]="quantity" class="zky-field__quantity">
              <div class="zky-field__quantity-more" (click)="quantityIncrement()">
                <svg fill="#8c8c8c" version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 30 30" enable-background="new 0 0 30 30" xml:space="preserve">
                  <path d="M20.5,14.5h-5v-5C15.5,9.2,15.3,9,15,9s-0.5,0.2-0.5,0.5v5h-5C9.2,14.5,9,14.7,9,15s0.2,0.5,0.5,0.5h5v5
                  c0,0.3,0.2,0.5,0.5,0.5s0.5-0.2,0.5-0.5v-5h5c0.3,0,0.5-0.2,0.5-0.5S20.8,14.5,20.5,14.5z"></path>
                </svg>
              </div>
            </div>
            <div class="product-price">
              <span>EUR<span class="product-price-number"> {{ numberTo2Decimals( product.prixdevente ) }} </span>HT</span>
            </div>
            <div class="product-buttons">
              <div class="product-addtocart-button zky-button__default" (click)="addToCart()">
                <div class="vertical_align"></div>
                <span>Ajouter au panier</span>
              </div>
              <div class="product-returnToCatalogue-button zky-button__default zky-button__style-ghost" (click)="returnToCatalogue()">
                <div class="vertical_align"></div>
                <span>Retours au catalogue</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
