@import "../common-variables.scss";

.product-container {
    height: calc(1000px - 150px);
    padding: 15px;
}
.product {
    text-rendering: geometricPrecision;
    font-size: 0;
    margin: auto;
    padding: 20px;
    padding-top: 40px;
    max-width: 1340px;

    span{
        line-height:normal;
    }
    
    .product-breadcrumb{
        text-align: left;
        margin-bottom: 20px;
    }

    .product-breadcrumb-parent{
        color:$colorLightText;
        @include fontRegular();
        font-size: 12px;
    }

    .product-breadcrumb-arrow{
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 12px;
        padding-left: 6px;
        padding-right: 6px;
        height: 12px;
        vertical-align: bottom;
    }

    .product-breadcrumb-current{
        color:$colorBreadcrumbName;
        @include fontMedium();
        font-size: 12px;
    }

    .product-style {
        text-align: center;
    }

    .product-breadcrumb{
        text-align: left;
        margin-bottom: 20px;
    }

    .product-breadcrumb-parent{
        color:$colorLightText;
        @include fontRegular();
        font-size: 12px;
    }

    .product-breadcrumb-arrow{
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 12px;
        padding-left: 6px;
        padding-right: 6px;
        height: 12px;
        vertical-align: bottom;
    }

    .product-breadcrumb-current{
        color:$colorBreadcrumbName;
        @include fontMedium();
        font-size: 12px;
    }

    .product-left-style {
        display: inline-block;
        vertical-align: middle;
        width: 50%;
        text-align: right;
        line-height: 0;
        font-size: 0;

        .product-left {
            margin-right: 15px;

            .product-image-style {
                display: inline-block;
                width: 100%;
                padding-bottom: 100%;
                text-align: center;
                position: relative;
            }

            .product-image {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                background-color: #fff;
                -moz-box-shadow: inset 0px 0px 0px 1px #e6e6e6;
                -webkit-box-shadow: inset 0px 0px 0px 1px #e6e6e6;
                box-shadow: inset 0px 0px 0px 1px #e6e6e6;

            }

            @media screen and (max-width: $responsiveBreakSmartphone) {
                .product-image-style{
                    width: 100%;
                    padding-bottom: 100%;
                }
            }
        }
    }

    .product-right-style {
        display: inline-block;
        vertical-align: top;
        width: 50%;
        text-align: left;
        line-height: 0;
        font-size: 0;

        .product-right {
            margin-left: 45px;
        }

        .product-header {
            line-height: auto;
            line-height: normal;

            padding-bottom: 0px;
            margin-bottom: 36px;
            border-bottom: 1px solid $colorSeparator;
        }

        .product-name {
            @include fontBold();
            font-size: 26px;
            color: $colorStrongText;
        }

        .product-reference{
            margin-top: 20px;
            margin-bottom: 20px;

            span{
                font-size: 12px;
                color: $colorLightText;
            }
        }

        .product-quantityTitle{
            display:inline-block;
            vertical-align: middle;

            @include fontRegular();
            font-size: 12px;
            color: $colorStrongText;
        }

        .zky-field__quantity-wrapper{
            padding-left: 15px;
            display: inline-block;
            vertical-align: middle;
        }

        .product-quantity span{
            font-size: 13px;
            @include fontRegular();
            color: $colorAttributeText;
            vertical-align: middle;
            margin-right: 15px;
        }

        .product-quantity .pim-shop-buttonQuantity{
            vertical-align: middle;
        }

        .product-price{
            margin-top: 20px;

            span{
                @include fontRegular();
                font-size: 13px;
                color: $clientColor1;

                &.product-price-number{
                    @include fontBold();
                    font-size: 24px;
                    padding-left: 5px;
                }
            }
        }

        .product-buttons{
            .zky-button__default{
                margin-right: 10px;
                margin-top: 20px;
            }
        }

        @media screen and (max-width: 1200px) {
            .product-addtocart-button.zky-button__default,
            .product-returnToCatalogue-button.zky-button__default
            {
                width:200px;
            }

            @media screen and (max-width: $responsiveBreakTablet) {

                .product-right{
                    position:relative;
                    margin-left:0;
                }

                .product-header{
                    /* width:50%; */

                    padding-bottom: 30px;
                    margin-bottom: 30px;
                }

                @media screen and (max-width: $responsiveBreakSmartphone) {
                    .product-header{
                        width:100%;
                        position:initial;
                    }

                    .product-right-style .product-buttons .zky-button__default{
                        margin-left:auto;
                        margin-right:auto;
                    }

                    .product-addtocart-button.zky-button__default,
                    .product-returnToCatalogue-button.zky-button__default.zky-button__style-ghost
                    {
                        width:100%;
                        margin-top: 15px;
                    }
                }
            }

        }

    }

    @media screen and (max-width: $responsiveBreakTablet) {
        .product-right-style,
        .product-left-style{
            width:100%;
            display:block;
        }

        .product-right-style{
            margin-top: 40px;
        }
    }
}