@import "../common-variables.scss";

$colorPreviewBackground : #FFF;
$colorPreviewImageBackground : #E4E4E4;

.productsGrid-container{
	text-align: center;
}
.productsGrid-preview{
	display: inline-block;
	width: 240px;
	height:330px;
	margin-right: 15px;
	background-color: $colorPreviewBackground;
	transition: box-shadow 0.3s ease-in-out;
	margin-bottom: 30px;
	vertical-align: top;
	cursor:pointer;

	&:hover{
		box-shadow: 0px 8px 33px 5px rgba(0, 0, 0, 0.1);
	}
}

.productsGrid-preview-image{
	width: 100%;
	height: 170px;
	text-align: center;
	font-size: 0;

	img{
		max-width: 100%;
		max-height: 100%;
		vertical-align: middle;
		display:inline-block;
	}
}

.productsGrid-preview-infos{
	margin: 30px 30px 10px 30px;
	text-align: left;
}

.productsGrid-preview-category{
	padding-bottom: 5px;

	span {
		font-size: 11px;
		color: $colorLightText;
		text-transform: uppercase;
		
		@include fontMedium();
	}
}

.productsGrid-preview-name span {
	font-size: 16px;
	color: $colorStrongText;
	
	@include fontMedium();
}

/* .productsGrid-preview-price{
	padding-bottom: 10px;

	span {
		font-size: 13px;
		color: #333;
		
		@include fontBold();
	}
} */

/* .productsGrid-preview-ref span {
	font-size: 11px;
	color: $colorLightText;
	@include fontMedium();
} */

.productsGrid-preview-show{ 
	display: inline-block;
	cursor: pointer;

	span {
		font-size: 11px;
		color: $clientColor1;
		text-decoration: underline;

		@include fontLight();
	}
}