<div class="productsGrid-container">
	<div class="productsGrid-preview" *ngFor="let product of products" (click)="onClickPreview( product.id )" [routerLink]="['product']">
		<div class="productsGrid-preview-image">
			<div class="vertical_align"></div>
			<img src="{{ product.img }}"
      onError="this.src='';"/>
		</div>
		<div class="productsGrid-preview-infos">
			<div class="productsGrid-preview-category">
				<span>{{ product.category }}</span>
			</div>
			<div class="productsGrid-preview-name">
				<span>{{ product.intitule1 }}</span>
			</div>
			<div class="productsGrid-preview-show">
				<span>Voir le produit</span>
			</div>
		</div>
	</div>
</div>