@import "../common-variables.scss";

.cart {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  margin: auto;
	
	table{
		margin-top: 40px;
	}

	.cart-info{
		width:250px;
		border: 1px solid $colorButtonBorder;
		margin-left: auto;
		margin-right: auto;

		td{
			width:50%;
			color: $colorStrongText;
			padding: 5px;
		}

		.cart-info-title{
			text-align: center;
			font-weight: bold;
		}
	}

	.cart-table.cartLines{
        margin-left: auto;
        margin-right: auto;
        width:90%;
        border: 1px solid $colorButtonBorder;

        tr.pair{
            background-color: #FEF;
        }

        td{
		        border: 1px solid $colorButtonBorder;
		        color: $colorStrongText;
		        padding: 5px;
		    }

		    .cart-table-header{
	        td{
	            font-weight: bold;
        }
    }
  }

	.cart-buttons{
		margin-top: 40px;
		margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-width: 550px;

    .cart-setToValidated-button{
			margin-right: 25px;
    }
	}
}