<div>
  <div *ngIf="cart" class="cart">
    <table class="cart-info cart-info-account">
      <tr>
        <td colspan="2" class="cart-info-title">Client:</td>
      </tr>
      <tr>
        <td>N° de dossier</td>
        <td>{{cart.accountPublic.numDossier}}</td>
      </tr>
      <tr>
        <td>Nom</td>
        <td>{{cart.accountPublic.nom}}</td>
      </tr>
      <tr>
        <td>Administration</td>
        <td>{{cart.accountPublic.administration}}</td>
      </tr>
      <tr>
        <td>Compte</td>
        <td>{{cart.accountPublic.compte}}</td>
      </tr>
      <tr>
        <td>Siret</td>
        <td>{{cart.accountPublic.siret}}</td>
      </tr>
      <tr>
        <td>Enseigne</td>
        <td>{{cart.accountPublic.enseigne}}</td>
      </tr>
      <tr>
        <td colspan="2" class="cart-info-title">Contact:</td>
      </tr>
      <tr>
        <td>Téléphone</td>
        <td>{{cart.accountPublic.telephone1}}</td>
      </tr>
      <tr>
        <td>Téléphone 2</td>
        <td>{{cart.accountPublic.telephone2}}</td>
      </tr>
      <tr>
        <td>Fax</td>
        <td>{{cart.accountPublic.fax}}</td>
      </tr>
      <tr>
        <td>E-mail</td>
        <td>{{cart.accountPublic.email}}</td>
      </tr>
      <tr>
        <td colspan="2" class="cart-info-title">Adresse :</td>
      </tr>
      <tr>
        <td>Code postal</td>
        <td>{{cart.accountPublic.cp}}</td>
      </tr>
      <tr>
        <td>Ville</td>
        <td>{{cart.accountPublic.ville}}</td>
      </tr>
      <tr>
        <td>Pays</td>
        <td>{{cart.accountPublic.pays}}</td>
      </tr>
      <tr>
        <td>N° Voie</td>
        <td>{{cart.accountPublic.numVoie}}</td>
      </tr>
      <tr>
        <td>Nom de la voie</td>
        <td>{{cart.accountPublic.nomdelavoie}}</td>
      </tr>
      <tr>
        <td>Complément d'adresse</td>
        <td>{{cart.accountPublic.complementAdresse}}</td>
      </tr>
    </table>
    <table class="cart-info cart-info-cart">
      <tr>
        <td colspan="2" class="cart-info-title">Commande:</td>
      </tr>
      <tr>
        <td>n° de commande</td>
        <td>{{cart.cart.id}}</td>
      </tr>
      <tr>
        <td>status</td>
        <td>{{cart.cart.status}}</td>
      </tr>
      <tr>
        <td>Date d'envoi</td>
        <td>{{cart.cart.validationDate}}</td>
      </tr>
      <tr>
        <td>Prix total</td>
        <td>{{numberTo2Decimals(cart.getTotalPrice())}} €</td>
      </tr>
    </table>
    <table class="cart-table cartLines">
      <tr class="cart-table-header">
        <td>Nom du produit</td>
        <td>Prix U.</td> 
        <td>Qté</td>
        <td>Prix</td>
      </tr>
      <tr *ngFor="let cartLine of cart.cartLinePublics; let i = index" [ngClass]="{'pair': i%2==0}">
        <td>{{cartLine.productPublics.intitule1}}</td>
        <td>{{numberTo2Decimals( cartLine.productPublics.prixdevente )}} €</td> 
        <td>{{cartLine.quantity}}</td>
        <td>{{numberTo2Decimals( cartLine.getTotalPrice())}} €</td>
      </tr>
    </table>

    <div class="cart-buttons">
      <div class="cart-setToValidated-button zky-button__default" *ngIf="this.authenticationService.isAdmin()" (click)="finishCart()">
        <div class="vertical_align"></div>
        <span>Marquer comme terminée</span>
      </div>
      <div class="cart-returnToAdmin-button zky-button__default zky-button__style-ghost" (click)="return()">
        <div class="vertical_align"></div>
        <span>Retour</span>
      </div>
    </div>
  </div>
</div>