<div class="products-management-container">
  <div class="title"> Mettre à jour la liste des produits</div>
  <input class="products-management-fileInput" type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".csv">
  <div class="zky-button__default zky-button__style-tiny" (click)="sendFile()">
  	<div class="vertical_align"></div>
    <span>Importer</span>
</div>
</div>
