@import "../common-variables.scss";

$colorFooterLight: #333;
$colorFooterDark: #2e2829;

footer{
    font-size: 0;

    .footer-content{
        max-width: $widthMain;
        margin: auto;
        padding: 0 5px;
    }

    .footer-link{
        -webkit-transition: color 0.2s;
        transition: color 0.2s;
        cursor: pointer;

        &:hover{
            color:$clientColor1hover!important;
            
        }
    }



    .footer-families{
        padding: 0 5px 20px 5px;
        background-color: $colorFooterLight;

        .footer-families-title{
            padding-top: 20px; 
            span{
                color:#ddd;
                font-size: 18px;
                @include fontBold();
                text-transform: uppercase;
            }
        }
        
        .footer-family-name{
            padding-bottom: 10px;
            padding-top: 20px;

            span{
                color:#ddd;
                font-size: 18px;
                @include fontRegular();
            }

        }

        .footer-family-subfamilies span{
            display: inline-block;
            color:#bcbec0;
            font-size: 16px;
            @include fontRegular();

            width:250px;
            padding-bottom: 5px;
        }
    }

    .footer-bottom{
        height: 70px;
        background-color: $colorFooterDark;
        color: #6d6e71;

        span{
            font-size: 16px;
            @include fontRegular();
        }
        
        .footer-content{
            height:100%;
        }

        .footer-copyright{
            display: inline-block;
            width: 100px;
            height:100%;
            vertical-align: top;

            text-align: left;

            span{
                padding-left: 10px;
                vertical-align: middle;
            }
        }

        .footer-legal{
            display: inline-block;
            width: calc(100% - 100px);
            height:100%;
            vertical-align: top;
            text-align: right;

            span{
                padding-left: 10px;
                padding-right: 10px;
                vertical-align: middle;
            }
        }
    }
}

@media screen and (max-width: 640px) {
    footer .footer-bottom{
        .footer-content{
            display: flex;
        }
        
        .footer-legal{
            display: flex;
        }
        .footer-legal{
            display: flex;
            flex-direction : column;

            span{
                padding:5px;
            }
        }
    }
    
}
