<footer>
  <div class="footer-families">
    <div class="footer-content">
      <div class="footer-families-title"><span>Catégories</span></div>
      <div class= "footer-family" *ngFor="let family of families">
        <div class="footer-family-name">
            <span [routerLink]="['/catalogue', {params: getFamilyQueryParameter(family.family) }]" class="footer-link">{{family.family.name}}</span>
        </div>
        <div class="footer-family-subfamilies">
          <span [routerLink]="['/catalogue', {params: getSubfamilyQueryParameter( family.family, subfamily.subfamily )}]"class="footer-link" *ngFor="let subfamily of family.subfamilyPublics">{{subfamily.subfamily.name}}</span>
      </div>
  </div>
</div>
</div>
<div class="footer-bottom">
    <div class="footer-content">
      <div class="footer-copyright">
        <div class="vertical_align"></div>
        <span>© {{currentYear}} ZKY</span>
    </div>
    <div class="footer-legal">
        <div class="vertical_align"></div>
        <span class="footer-link">Politique de confidentialité</span>
        <span class="footer-link">Conditions générales d'utilisation</span>
    </div>
</div>
</div>
</footer>