<div class="home-container">
    <div class="blocks">
        <div class="block-right">
            <img src="assets/img/acheteur.jpg">
        </div>
        <div class="block-left">
            <div class="title">
                Vous cherchez des produits éléctronique ?
            </div>
            <div class="content">
                ZKY est le grossiste électronique qu'il vous faut. <br/>
                Avec plus de 10 ans d'expertise. <br/>
                <button
                class="btn-new-client"
                [routerLink]="['/contact']">Devenir client</button>
            </div>
        </div>
    </div>
</div>
