.home-container {
    min-height: 100%;
    display: flex;
    padding: 15px;

    .blocks {
        width: 70%;
        height: 50%;
        box-shadow: 0px 8px 33px 5px rgba(0, 0, 0, 0.1);
        display: flex;
        margin: 10%;
    }
}

.home-container .blocks .block-right, .block-left {
    width: 50%;
    background-color: white;
}

.home-container .blocks .block-left {
    padding: 50px;
    background-color: #8B0000;
    color: white;
}

.home-container .blocks .block-left .title {
    font-size: 40px;
    padding-bottom: 5px;
}

.home-container .blocks .block-left .content {
    height: calc(100% - 11%);
}

.home-container .blocks .block-right img {
    height: 100%;
}

.home-container .blocks .block-left .content .btn-new-client {
    margin-top: 15px;
    padding: 6px 12px;
    background-color: #cd5c5c;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    color: white;
    font-size: 14px;
}

@media screen and (max-width: 1000px) {
    .home-container {
        justify-content: center;
        align-items: center;
        margin-top: 150px;

        .blocks {
            margin: 0;
            width: 100%;

            .block-left{
                width: 100%;
                padding: 10px;
                .title{
                    padding-bottom: 25px;
                }
            }
        }

        .block-right{
            display: none;
        }

        
    }
}